YakakoApi/YakakoApi/YakakoApi/YakakoApi/YakakoApiReferences/Web References/liveezeemoneyapi/API.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UGD_EMTerminalAPI.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UGD_EMTerminalAPI.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PinProdList">
    <xs:sequence>
      <xs:element minOccurs="0" name="prod" nillable="true" type="tns:ArrayOfPinProdClass" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PinProdList" nillable="true" type="tns:PinProdList" />
  <xs:complexType name="ArrayOfPinProdClass">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PinProdClass" nillable="true" type="tns:PinProdClass" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPinProdClass" nillable="true" type="tns:ArrayOfPinProdClass" />
  <xs:complexType name="PinProdClass">
    <xs:sequence>
      <xs:element minOccurs="0" name="Pin_Desc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pin_Keyword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pin_ProdID" type="xs:long" />
      <xs:element minOccurs="0" name="Pin_Status" type="xs:int" />
      <xs:element minOccurs="0" name="Pin_Status_desc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pin_type" type="xs:int" />
      <xs:element minOccurs="0" name="Pin_type_desc" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PinProdClass" nillable="true" type="tns:PinProdClass" />
</xs:schema>